body {
  background: var(--principal);
  color: var(--text-cor);
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

span {
  color: var(--text-segundario);
}

.logo span {
  color: var(--text-segundario);
}

.home-content h3 {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 3rem;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--text-segundario);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--text-segundario),
    0 0 50px var(--text-segundario),
    0 0 100px var(--text-segundario);
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--text-segundario);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--text-segundario);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover {
  color: var(--text-segundario);
  transform: scale(1.3)translateY(-5px);
  box-shadow: 0 0 25px var(--text-segundario);
  background-color: var(--text-segundario);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--text-segundario);
  box-shadow: 0 0 25px var(--text-segundario);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--text-segundario);
}

.btn-grupo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-grupo a:nth-of-type(2) {
  background-color: black;
  color: var(--text-segundario);
  border: 2px solid var(--text-segundario);
  box-shadow: 0 0 25px transparent;
}

.btn-grupo a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--text-segundario);
  background-color: var(--text-segundario);
  color: black;
}

.texto-animado {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.texto-animado span {
  position: relative;
}

.texto-animado span::before {
  content: "Desenvolvedor Web";
  color: var(--text-segundario);
  animation: words 20s infinite;
}

.texto-animado span::after {
  content: "";
  background-color: var(--principal);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--principal);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--text-segundario);
  }
}

@keyframes words {

  0%,
  20% {
    content: "Front Designer"
  }

  21%,
  40% {
    content: "Web Designer"
  }

  41%,
  60% {
    content: "UI/UX Designer"
  }

  61%,
  80% {
    content: "Dev Web"
  }

  81%,
  100% {
    content: "Dev Jr"
  }

}

@keyframes typing {

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}